<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Url" value="http://lrapdev.azurewebsites.net/account/login"/>
    <add key="FromAddress" value="grovertest0@gmail.com"/>
    <add key="Password" value="pentium12"/>
    <add key="ToAddress" value="groverashok232@gmail.com"/>
  </appSettings>
</configuration>